/* wireframe color */
:root {
    --header-footer-bg: #e8eff3;
    --main-bg: #f2f2f2;
}

/* all about body */
body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    line-height: 1.6;
    background-image: url('rafting27_1024.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

/* Header */
header {
    background-color: var(--header-footer-bg);
    padding: 10px;
    border-bottom: 1px;
}

header .logo img {
    width: 100px;
    background-color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #0000EE;
    margin-bottom: 5px;
}

/* main padding */
main {
    padding: 20px;
}

h1 {
    top: 10px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    background-color: #03423bd0;
    color: #c3d6e0;
    position: relative;
    opacity: 0.9;
}

section {
    top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

section h2 {
    background-color: var(--main-bg);
}

/* Hero */
.hero {
    height: 460px;
    position: relative;
    margin-top: 0px;
    background-image: url("../image/rafting27_1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.hero img {
    float: right;
    width: 150px;
    height: 155px;
    margin: 10 0 15px 15px;
}

.article {
    top: 99px;
    margin: 100px;
    padding: 1px;
    background-color: #e0c30bec;
    position: relative;
    opacity: 0.8;
    text-align: center;
}

/* Footer */
footer {
    background-color: var(--header-footer-bg);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px;
}

.socialmedia {
    width: 840px;
    margin: 0px;
    font-weight: bold;
    display: inline;
}

.socialmedia img {
    width: 20px;
    margin: 10px;
}