table {
    border-collapse: collapse;
    width: 40%;
    margin: 20px auto;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

td {
    background-color: #f9f9f9;
    color: rgb(31, 15, 15);

}

th {
    background-color: black;
    color: white;
    font-weight: bold;
}

tfoot td {
    font-weight: bold;
    background-color: black;
    color: white;
}