* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
    align-content: center;

}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    background-color: #aba;
    /* write declarations here */
    background-color: #abb;
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid {
    background-color: #abb;
    /* enter declarations here */
    background-color: #abb;
    display: grid;
    place-items: center;

}

.container2 {
    /* write declarations here */
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
}

.two {
    background-color: #ace;
    height: 100px;
}

.container3 {
    /* write declarations here */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.columns-3 {
    /* write declaration here */
    grid-column: 1/4
}

.three {
    margin: .25rem;
    background-color: #abd;
}