* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class Selectors */
.box {
    margin: var(--margin);
    border: 1px solid rgb(0 0 0 0 / 10%);
    padding: var(--padding);
    background-color: #ddd;
    color: #000;
}

:root {
    --padding: 1rem;
    --margin: 1rem;
    --background-color: darkblue;
    --color: darkblue;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;

}

main {
    max-width: 840px;
    margin: var(--margin);
}

aside {
    width: 20rem;
    margin: var(--margin);
    border: 1px solid rgb(0, 0, 0/0.2);
    padding: var(--padding);
    background-color: #eee;
    text-align: center;
    color: #333;
}

aside img {
    width: 250px;
    height: auto;
}

aside h2 {
    position: relative;
    top: 40px;
    left: 2px;
}

main img {
    width: 150px;
    height: 150px;
    margin: var(--margin);
    padding: var(--padding);
    box-shadow: none;
    border: 1px solid black;
    float: right;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}