.callout {
    max-width: 400px;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0/0.1);
    padding: 15;
    background-color: #247;
    color: #fff;
}

.callout img {
    float: 0 0 10px 15px;
    margin: 0 0 10px 15px;
    border: 1px solid #000;
    padding: 3px;
    background-color: #bbb;
    width: 100px;
    height: auto;
}

blockquote {}

cite {}